In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import re

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin

In [148]:
data_load = pd.read_csv('bbc-news-data.csv', sep='\t')
data_load

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...,...
2220,tech,397.txt,BT program to beat dialler scams,BT is introducing two initiatives to help bea...
2221,tech,398.txt,Spam e-mails tempt net shoppers,Computer users across the world continue to i...
2222,tech,399.txt,Be careful how you code,A new European directive could put software w...
2223,tech,400.txt,US cyber security chief resigns,The man making sure US computer networks are ...
2224,tech,401.txt,Losing yourself in online gaming,"Online role playing games are time-consuming,..."

In [6]:
data_load['category'].unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [103]:
def transform(data_load, test_size=0.2):
    data = data_load.copy()
    data.replace({'category':{'business':1, 'entertainment':2, 'politics':3, 'sport':4, 'tech':5}}, inplace=True)
    target = data['category']
    data = data[['title', 'content']]
#     data = data['title'].str.lower()
    if test_size == 0:
        return data, target
    x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=test_size)
    return x_train, x_test, y_train, y_test
    
# transform(data_load)

In [157]:
def clean_text(text):
    if not isinstance(text, str):
        text = str(text)
    
    text = text.lower()
    text = text.strip('\n').strip('\r').strip('\t')
    text = re.sub("-\s\r\n\|-\s\r\n|\r\n", '', str(text))

    text = re.sub("[0-9]|[-—.,:;_%©«»?*!@#№$^•·&()]|[+=]|[[]|[]]|[/]|", '', text)
    text = re.sub(r"\r\n\t|\n|\\s|\r\t|\\n", ' ', text)
    text = re.sub(r'[\xad]|[\s+]', ' ', text.strip())
    return text

In [104]:
x_train, x_test, y_train, y_test = transform(data_load)
x_train

,title,content
421,News Corp makes $5.4bn Fox offer,News Corporation is seeking to buy out minori...
749,Elvis 'set for chart hat-trick',The late US legend Elvis Presley is likely to...
402,WorldCom bosses' $54m payout,Ten former directors at WorldCom have agreed ...
1912,Latest Opera browser gets vocal,"Net browser Opera 8.0, due for official relea..."
2222,Be careful how you code,A new European directive could put software w...
...,...,...
1189,Civil servants in strike ballot,The UK's biggest civil service union is to ba...
1013,Bid to cut court witness stress,New targets to reduce the stress to victims a...
1583,Henry tipped for Fifa award,Fifa president Sepp Blatter hopes Arsenal's T...
94,Profits slide at India's Dr Reddy,Profits at Indian drugmaker Dr Reddy's fell 9...
251,BT offers equal access to rivals,BT has moved to pre-empt a possible break-up ...

In [165]:
class That(BaseEstimator, TransformerMixin):
    def __init__(self, this = True):
        self.this = this
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        return X[self.this].apply(lambda x: clean_text(x), 1)
#         return X[self.this]


pip = Pipeline([('sdfs', That('content')), 
                ('dasd', TfidfVectorizer(max_features=5000, stop_words='english'))])

# resdd = ColumnTransformer(transformers=[('df', pip(), ['title', 'content'])])
    
# pi = Pipeline([('sdf', resdd()), ('dfd', LogisticRegression())])
# pi.fit(x_train, y_train)

a = pip.fit_transform(data_load)
a.toarray().shape

(2225, 5000)